<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsCaseHistoryMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsCaseHistory" id="DmsCaseHistoryResult">
        <result property="id"    column="id"    />
        <result property="chiefComplaint"    column="chief_complaint"    />
        <result property="historyOfPresentIllness"    column="history_of_present_illness"    />
        <result property="historyOfTreatment"    column="history_of_treatment"    />
        <result property="pastHistory"    column="past_history"    />
        <result property="allergies"    column="allergies"    />
        <result property="healthCheckup"    column="health_checkup"    />
        <result property="registrationId"    column="registration_id"    />
        <result property="priliminaryDiseStrList"    column="priliminary_dise_str_list"    />
        <result property="startDate"    column="start_date"    />
        <result property="name"    column="name"    />
        <result property="gender"    column="gender"    />
        <result property="ageStr"    column="age_str"    />
        <result property="checkStrList"    column="check_str_list"    />
        <result property="dispositionStrList"    column="disposition_str_list"    />
        <result property="herbalPrescriptionStrList"    column="herbal_prescription_str_list"    />
        <result property="createTime"    column="create_time"    />
        <result property="definiteDiseStrList"    column="definite_dise_str_list"    />
        <result property="patientId"    column="patient_id"    />
        <result property="testStrList"    column="test_str_list"    />
        <result property="medicinePrescriptionStrList"    column="medicine_prescription_str_list"    />
        <result property="status"    column="status"    />
        <result property="priliminaryDiseIdList"    column="priliminary_dise_id_list"    />
        <result property="checkResult"    column="check_result"    />
        <result property="testResult"    column="test_result"    />
    </resultMap>

    <sql id="selectDmsCaseHistoryVo">
        select id, chief_complaint, history_of_present_illness, history_of_treatment, past_history, allergies, health_checkup, registration_id, priliminary_dise_str_list, start_date, name, gender, age_str, check_str_list, disposition_str_list, herbal_prescription_str_list, create_time, definite_dise_str_list, patient_id, test_str_list, medicine_prescription_str_list, status, priliminary_dise_id_list, check_result, test_result from dms_case_history
    </sql>

    <select id="selectDmsCaseHistoryList" parameterType="com.ruan.hncc.dms.domain.DmsCaseHistory" resultMap="DmsCaseHistoryResult">
        <include refid="selectDmsCaseHistoryVo"/>
        <where>  
            <if test="chiefComplaint != null  and chiefComplaint != ''"> and chief_complaint = #{chiefComplaint}</if>
            <if test="historyOfPresentIllness != null  and historyOfPresentIllness != ''"> and history_of_present_illness = #{historyOfPresentIllness}</if>
            <if test="historyOfTreatment != null  and historyOfTreatment != ''"> and history_of_treatment = #{historyOfTreatment}</if>
            <if test="pastHistory != null  and pastHistory != ''"> and past_history = #{pastHistory}</if>
            <if test="allergies != null  and allergies != ''"> and allergies = #{allergies}</if>
            <if test="healthCheckup != null  and healthCheckup != ''"> and health_checkup = #{healthCheckup}</if>
            <if test="registrationId != null "> and registration_id = #{registrationId}</if>
            <if test="priliminaryDiseStrList != null  and priliminaryDiseStrList != ''"> and priliminary_dise_str_list = #{priliminaryDiseStrList}</if>
            <if test="startDate != null "> and start_date = #{startDate}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="gender != null "> and gender = #{gender}</if>
            <if test="ageStr != null  and ageStr != ''"> and age_str = #{ageStr}</if>
            <if test="checkStrList != null  and checkStrList != ''"> and check_str_list = #{checkStrList}</if>
            <if test="dispositionStrList != null  and dispositionStrList != ''"> and disposition_str_list = #{dispositionStrList}</if>
            <if test="herbalPrescriptionStrList != null  and herbalPrescriptionStrList != ''"> and herbal_prescription_str_list = #{herbalPrescriptionStrList}</if>
            <if test="definiteDiseStrList != null  and definiteDiseStrList != ''"> and definite_dise_str_list = #{definiteDiseStrList}</if>
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="testStrList != null  and testStrList != ''"> and test_str_list = #{testStrList}</if>
            <if test="medicinePrescriptionStrList != null  and medicinePrescriptionStrList != ''"> and medicine_prescription_str_list = #{medicinePrescriptionStrList}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="priliminaryDiseIdList != null  and priliminaryDiseIdList != ''"> and priliminary_dise_id_list = #{priliminaryDiseIdList}</if>
            <if test="checkResult != null  and checkResult != ''"> and check_result = #{checkResult}</if>
            <if test="testResult != null  and testResult != ''"> and test_result = #{testResult}</if>
        </where>
    </select>
    
    <select id="selectDmsCaseHistoryById" parameterType="Long" resultMap="DmsCaseHistoryResult">
        <include refid="selectDmsCaseHistoryVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsCaseHistory" parameterType="com.ruan.hncc.dms.domain.DmsCaseHistory" useGeneratedKeys="true" keyProperty="id">
        insert into dms_case_history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="chiefComplaint != null">chief_complaint,</if>
            <if test="historyOfPresentIllness != null">history_of_present_illness,</if>
            <if test="historyOfTreatment != null">history_of_treatment,</if>
            <if test="pastHistory != null">past_history,</if>
            <if test="allergies != null">allergies,</if>
            <if test="healthCheckup != null">health_checkup,</if>
            <if test="registrationId != null">registration_id,</if>
            <if test="priliminaryDiseStrList != null">priliminary_dise_str_list,</if>
            <if test="startDate != null">start_date,</if>
            <if test="name != null">name,</if>
            <if test="gender != null">gender,</if>
            <if test="ageStr != null">age_str,</if>
            <if test="checkStrList != null">check_str_list,</if>
            <if test="dispositionStrList != null">disposition_str_list,</if>
            <if test="herbalPrescriptionStrList != null">herbal_prescription_str_list,</if>
            <if test="createTime != null">create_time,</if>
            <if test="definiteDiseStrList != null">definite_dise_str_list,</if>
            <if test="patientId != null">patient_id,</if>
            <if test="testStrList != null">test_str_list,</if>
            <if test="medicinePrescriptionStrList != null">medicine_prescription_str_list,</if>
            <if test="status != null">status,</if>
            <if test="priliminaryDiseIdList != null">priliminary_dise_id_list,</if>
            <if test="checkResult != null">check_result,</if>
            <if test="testResult != null">test_result,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="chiefComplaint != null">#{chiefComplaint},</if>
            <if test="historyOfPresentIllness != null">#{historyOfPresentIllness},</if>
            <if test="historyOfTreatment != null">#{historyOfTreatment},</if>
            <if test="pastHistory != null">#{pastHistory},</if>
            <if test="allergies != null">#{allergies},</if>
            <if test="healthCheckup != null">#{healthCheckup},</if>
            <if test="registrationId != null">#{registrationId},</if>
            <if test="priliminaryDiseStrList != null">#{priliminaryDiseStrList},</if>
            <if test="startDate != null">#{startDate},</if>
            <if test="name != null">#{name},</if>
            <if test="gender != null">#{gender},</if>
            <if test="ageStr != null">#{ageStr},</if>
            <if test="checkStrList != null">#{checkStrList},</if>
            <if test="dispositionStrList != null">#{dispositionStrList},</if>
            <if test="herbalPrescriptionStrList != null">#{herbalPrescriptionStrList},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="definiteDiseStrList != null">#{definiteDiseStrList},</if>
            <if test="patientId != null">#{patientId},</if>
            <if test="testStrList != null">#{testStrList},</if>
            <if test="medicinePrescriptionStrList != null">#{medicinePrescriptionStrList},</if>
            <if test="status != null">#{status},</if>
            <if test="priliminaryDiseIdList != null">#{priliminaryDiseIdList},</if>
            <if test="checkResult != null">#{checkResult},</if>
            <if test="testResult != null">#{testResult},</if>
         </trim>
    </insert>

    <update id="updateDmsCaseHistory" parameterType="com.ruan.hncc.dms.domain.DmsCaseHistory">
        update dms_case_history
        <trim prefix="SET" suffixOverrides=",">
            <if test="chiefComplaint != null">chief_complaint = #{chiefComplaint},</if>
            <if test="historyOfPresentIllness != null">history_of_present_illness = #{historyOfPresentIllness},</if>
            <if test="historyOfTreatment != null">history_of_treatment = #{historyOfTreatment},</if>
            <if test="pastHistory != null">past_history = #{pastHistory},</if>
            <if test="allergies != null">allergies = #{allergies},</if>
            <if test="healthCheckup != null">health_checkup = #{healthCheckup},</if>
            <if test="registrationId != null">registration_id = #{registrationId},</if>
            <if test="priliminaryDiseStrList != null">priliminary_dise_str_list = #{priliminaryDiseStrList},</if>
            <if test="startDate != null">start_date = #{startDate},</if>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="ageStr != null">age_str = #{ageStr},</if>
            <if test="checkStrList != null">check_str_list = #{checkStrList},</if>
            <if test="dispositionStrList != null">disposition_str_list = #{dispositionStrList},</if>
            <if test="herbalPrescriptionStrList != null">herbal_prescription_str_list = #{herbalPrescriptionStrList},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="definiteDiseStrList != null">definite_dise_str_list = #{definiteDiseStrList},</if>
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="testStrList != null">test_str_list = #{testStrList},</if>
            <if test="medicinePrescriptionStrList != null">medicine_prescription_str_list = #{medicinePrescriptionStrList},</if>
            <if test="status != null">status = #{status},</if>
            <if test="priliminaryDiseIdList != null">priliminary_dise_id_list = #{priliminaryDiseIdList},</if>
            <if test="checkResult != null">check_result = #{checkResult},</if>
            <if test="testResult != null">test_result = #{testResult},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsCaseHistoryById" parameterType="Long">
        delete from dms_case_history where id = #{id}
    </delete>

    <delete id="deleteDmsCaseHistoryByIds" parameterType="String">
        delete from dms_case_history where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>