<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsDiseCatalogMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsDiseCatalog" id="DmsDiseCatalogResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectDmsDiseCatalogVo">
        select id, name, status from dms_dise_catalog
    </sql>

    <select id="selectDmsDiseCatalogList" parameterType="com.ruan.hncc.dms.domain.DmsDiseCatalog" resultMap="DmsDiseCatalogResult">
        <include refid="selectDmsDiseCatalogVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectDmsDiseCatalogById" parameterType="Long" resultMap="DmsDiseCatalogResult">
        <include refid="selectDmsDiseCatalogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsDiseCatalog" parameterType="com.ruan.hncc.dms.domain.DmsDiseCatalog" useGeneratedKeys="true" keyProperty="id">
        insert into dms_dise_catalog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateDmsDiseCatalog" parameterType="com.ruan.hncc.dms.domain.DmsDiseCatalog">
        update dms_dise_catalog
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsDiseCatalogById" parameterType="Long">
        delete from dms_dise_catalog where id = #{id}
    </delete>

    <delete id="deleteDmsDiseCatalogByIds" parameterType="String">
        delete from dms_dise_catalog where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>