<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsDiseMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsDise" id="DmsDiseResult">
        <result property="id"    column="id"    />
        <result property="catId"    column="cat_id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="icd"    column="ICD"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectDmsDiseVo">
        select id, cat_id, code, name, ICD, status from dms_dise
    </sql>

    <select id="selectDmsDiseList" parameterType="com.ruan.hncc.dms.domain.DmsDise" resultMap="DmsDiseResult">
        <include refid="selectDmsDiseVo"/>
        <where>  
            <if test="catId != null "> and cat_id = #{catId}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="icd != null  and icd != ''"> and ICD = #{icd}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectDmsDiseById" parameterType="Long" resultMap="DmsDiseResult">
        <include refid="selectDmsDiseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsDise" parameterType="com.ruan.hncc.dms.domain.DmsDise" useGeneratedKeys="true" keyProperty="id">
        insert into dms_dise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="catId != null">cat_id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="icd != null">ICD,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="catId != null">#{catId},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="icd != null">#{icd},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateDmsDise" parameterType="com.ruan.hncc.dms.domain.DmsDise">
        update dms_dise
        <trim prefix="SET" suffixOverrides=",">
            <if test="catId != null">cat_id = #{catId},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="icd != null">ICD = #{icd},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsDiseById" parameterType="Long">
        delete from dms_dise where id = #{id}
    </delete>

    <delete id="deleteDmsDiseByIds" parameterType="String">
        delete from dms_dise where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>