<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsDosageMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsDosage" id="DmsDosageResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectDmsDosageVo">
        select id, code, name, status from dms_dosage
    </sql>

    <select id="selectDmsDosageList" parameterType="com.ruan.hncc.dms.domain.DmsDosage" resultMap="DmsDosageResult">
        <include refid="selectDmsDosageVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectDmsDosageById" parameterType="Long" resultMap="DmsDosageResult">
        <include refid="selectDmsDosageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsDosage" parameterType="com.ruan.hncc.dms.domain.DmsDosage" useGeneratedKeys="true" keyProperty="id">
        insert into dms_dosage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateDmsDosage" parameterType="com.ruan.hncc.dms.domain.DmsDosage">
        update dms_dosage
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsDosageById" parameterType="Long">
        delete from dms_dosage where id = #{id}
    </delete>

    <delete id="deleteDmsDosageByIds" parameterType="String">
        delete from dms_dosage where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>