<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsDrugModelMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsDrugModel" id="DmsDrugModelResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="name"    column="name"    />
        <result property="scope"    column="scope"    />
        <result property="ownId"    column="own_id"    />
        <result property="aim"    column="aim"    />
        <result property="createTime"    column="create_time"    />
        <result property="code"    column="code"    />
        <result property="type"    column="type"    />
        <result property="pairNum"    column="pair_num"    />
        <result property="frequency"    column="frequency"    />
        <result property="therapy"    column="therapy"    />
        <result property="therapyDetails"    column="therapy_details"    />
        <result property="medicalAdvice"    column="medical_advice"    />
    </resultMap>

    <sql id="selectDmsDrugModelVo">
        select id, status, name, scope, own_id, aim, create_time, code, type, pair_num, frequency, therapy, therapy_details, medical_advice from dms_drug_model
    </sql>

    <select id="selectDmsDrugModelList" parameterType="com.ruan.hncc.dms.domain.DmsDrugModel" resultMap="DmsDrugModelResult">
        <include refid="selectDmsDrugModelVo"/>
        <where>  
            <if test="status != null "> and status = #{status}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="scope != null "> and scope = #{scope}</if>
            <if test="ownId != null "> and own_id = #{ownId}</if>
            <if test="aim != null  and aim != ''"> and aim = #{aim}</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="pairNum != null "> and pair_num = #{pairNum}</if>
            <if test="frequency != null "> and frequency = #{frequency}</if>
            <if test="therapy != null  and therapy != ''"> and therapy = #{therapy}</if>
            <if test="therapyDetails != null  and therapyDetails != ''"> and therapy_details = #{therapyDetails}</if>
            <if test="medicalAdvice != null  and medicalAdvice != ''"> and medical_advice = #{medicalAdvice}</if>
        </where>
    </select>
    
    <select id="selectDmsDrugModelById" parameterType="Long" resultMap="DmsDrugModelResult">
        <include refid="selectDmsDrugModelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsDrugModel" parameterType="com.ruan.hncc.dms.domain.DmsDrugModel" useGeneratedKeys="true" keyProperty="id">
        insert into dms_drug_model
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="name != null">name,</if>
            <if test="scope != null">scope,</if>
            <if test="ownId != null">own_id,</if>
            <if test="aim != null">aim,</if>
            <if test="createTime != null">create_time,</if>
            <if test="code != null">code,</if>
            <if test="type != null">type,</if>
            <if test="pairNum != null">pair_num,</if>
            <if test="frequency != null">frequency,</if>
            <if test="therapy != null">therapy,</if>
            <if test="therapyDetails != null">therapy_details,</if>
            <if test="medicalAdvice != null">medical_advice,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="name != null">#{name},</if>
            <if test="scope != null">#{scope},</if>
            <if test="ownId != null">#{ownId},</if>
            <if test="aim != null">#{aim},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="code != null">#{code},</if>
            <if test="type != null">#{type},</if>
            <if test="pairNum != null">#{pairNum},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="therapy != null">#{therapy},</if>
            <if test="therapyDetails != null">#{therapyDetails},</if>
            <if test="medicalAdvice != null">#{medicalAdvice},</if>
         </trim>
    </insert>

    <update id="updateDmsDrugModel" parameterType="com.ruan.hncc.dms.domain.DmsDrugModel">
        update dms_drug_model
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="name != null">name = #{name},</if>
            <if test="scope != null">scope = #{scope},</if>
            <if test="ownId != null">own_id = #{ownId},</if>
            <if test="aim != null">aim = #{aim},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="code != null">code = #{code},</if>
            <if test="type != null">type = #{type},</if>
            <if test="pairNum != null">pair_num = #{pairNum},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="therapy != null">therapy = #{therapy},</if>
            <if test="therapyDetails != null">therapy_details = #{therapyDetails},</if>
            <if test="medicalAdvice != null">medical_advice = #{medicalAdvice},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsDrugModelById" parameterType="Long">
        delete from dms_drug_model where id = #{id}
    </delete>

    <delete id="deleteDmsDrugModelByIds" parameterType="String">
        delete from dms_drug_model where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>