<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsHerbalModelItemMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsHerbalModelItem" id="DmsHerbalModelItemResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="footnote"    column="footnote"    />
        <result property="drugId"    column="drug_id"    />
        <result property="usageNum"    column="usage_num"    />
        <result property="usageNumUnit"    column="usage_num_unit"    />
        <result property="modelId"    column="model_id"    />
    </resultMap>

    <sql id="selectDmsHerbalModelItemVo">
        select id, status, footnote, drug_id, usage_num, usage_num_unit, model_id from dms_herbal_model_item
    </sql>

    <select id="selectDmsHerbalModelItemList" parameterType="com.ruan.hncc.dms.domain.DmsHerbalModelItem" resultMap="DmsHerbalModelItemResult">
        <include refid="selectDmsHerbalModelItemVo"/>
        <where>  
            <if test="status != null "> and status = #{status}</if>
            <if test="footnote != null  and footnote != ''"> and footnote = #{footnote}</if>
            <if test="drugId != null "> and drug_id = #{drugId}</if>
            <if test="usageNum != null "> and usage_num = #{usageNum}</if>
            <if test="usageNumUnit != null "> and usage_num_unit = #{usageNumUnit}</if>
            <if test="modelId != null "> and model_id = #{modelId}</if>
        </where>
    </select>
    
    <select id="selectDmsHerbalModelItemById" parameterType="Long" resultMap="DmsHerbalModelItemResult">
        <include refid="selectDmsHerbalModelItemVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsHerbalModelItem" parameterType="com.ruan.hncc.dms.domain.DmsHerbalModelItem" useGeneratedKeys="true" keyProperty="id">
        insert into dms_herbal_model_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="footnote != null">footnote,</if>
            <if test="drugId != null">drug_id,</if>
            <if test="usageNum != null">usage_num,</if>
            <if test="usageNumUnit != null">usage_num_unit,</if>
            <if test="modelId != null">model_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="footnote != null">#{footnote},</if>
            <if test="drugId != null">#{drugId},</if>
            <if test="usageNum != null">#{usageNum},</if>
            <if test="usageNumUnit != null">#{usageNumUnit},</if>
            <if test="modelId != null">#{modelId},</if>
         </trim>
    </insert>

    <update id="updateDmsHerbalModelItem" parameterType="com.ruan.hncc.dms.domain.DmsHerbalModelItem">
        update dms_herbal_model_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="footnote != null">footnote = #{footnote},</if>
            <if test="drugId != null">drug_id = #{drugId},</if>
            <if test="usageNum != null">usage_num = #{usageNum},</if>
            <if test="usageNumUnit != null">usage_num_unit = #{usageNumUnit},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsHerbalModelItemById" parameterType="Long">
        delete from dms_herbal_model_item where id = #{id}
    </delete>

    <delete id="deleteDmsHerbalModelItemByIds" parameterType="String">
        delete from dms_herbal_model_item where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>