<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsHerbalPrescriptionRecordMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsHerbalPrescriptionRecord" id="DmsHerbalPrescriptionRecordResult">
        <result property="id"    column="id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="amount"    column="amount"    />
        <result property="name"    column="name"    />
        <result property="therapy"    column="therapy"    />
        <result property="therapyDetails"    column="therapy_details"    />
        <result property="medicalAdvice"    column="medical_advice"    />
        <result property="pairNum"    column="pair_num"    />
        <result property="registrationId"    column="registration_id"    />
        <result property="frequency"    column="frequency"    />
        <result property="usageMeans"    column="usage_means"    />
        <result property="type"    column="type"    />
        <result property="createStaffId"    column="create_staff_id"    />
    </resultMap>

    <sql id="selectDmsHerbalPrescriptionRecordVo">
        select id, status, create_time, amount, name, therapy, therapy_details, medical_advice, pair_num, registration_id, frequency, usage_means, type, create_staff_id from dms_herbal_prescription_record
    </sql>

    <select id="selectDmsHerbalPrescriptionRecordList" parameterType="com.ruan.hncc.dms.domain.DmsHerbalPrescriptionRecord" resultMap="DmsHerbalPrescriptionRecordResult">
        <include refid="selectDmsHerbalPrescriptionRecordVo"/>
        <where>  
            <if test="status != null "> and status = #{status}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="therapy != null  and therapy != ''"> and therapy = #{therapy}</if>
            <if test="therapyDetails != null  and therapyDetails != ''"> and therapy_details = #{therapyDetails}</if>
            <if test="medicalAdvice != null  and medicalAdvice != ''"> and medical_advice = #{medicalAdvice}</if>
            <if test="pairNum != null "> and pair_num = #{pairNum}</if>
            <if test="registrationId != null "> and registration_id = #{registrationId}</if>
            <if test="frequency != null "> and frequency = #{frequency}</if>
            <if test="usageMeans != null "> and usage_means = #{usageMeans}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="createStaffId != null "> and create_staff_id = #{createStaffId}</if>
        </where>
    </select>
    
    <select id="selectDmsHerbalPrescriptionRecordById" parameterType="Long" resultMap="DmsHerbalPrescriptionRecordResult">
        <include refid="selectDmsHerbalPrescriptionRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsHerbalPrescriptionRecord" parameterType="com.ruan.hncc.dms.domain.DmsHerbalPrescriptionRecord" useGeneratedKeys="true" keyProperty="id">
        insert into dms_herbal_prescription_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="amount != null">amount,</if>
            <if test="name != null">name,</if>
            <if test="therapy != null">therapy,</if>
            <if test="therapyDetails != null">therapy_details,</if>
            <if test="medicalAdvice != null">medical_advice,</if>
            <if test="pairNum != null">pair_num,</if>
            <if test="registrationId != null">registration_id,</if>
            <if test="frequency != null">frequency,</if>
            <if test="usageMeans != null">usage_means,</if>
            <if test="type != null">type,</if>
            <if test="createStaffId != null">create_staff_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="amount != null">#{amount},</if>
            <if test="name != null">#{name},</if>
            <if test="therapy != null">#{therapy},</if>
            <if test="therapyDetails != null">#{therapyDetails},</if>
            <if test="medicalAdvice != null">#{medicalAdvice},</if>
            <if test="pairNum != null">#{pairNum},</if>
            <if test="registrationId != null">#{registrationId},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="usageMeans != null">#{usageMeans},</if>
            <if test="type != null">#{type},</if>
            <if test="createStaffId != null">#{createStaffId},</if>
         </trim>
    </insert>

    <update id="updateDmsHerbalPrescriptionRecord" parameterType="com.ruan.hncc.dms.domain.DmsHerbalPrescriptionRecord">
        update dms_herbal_prescription_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="name != null">name = #{name},</if>
            <if test="therapy != null">therapy = #{therapy},</if>
            <if test="therapyDetails != null">therapy_details = #{therapyDetails},</if>
            <if test="medicalAdvice != null">medical_advice = #{medicalAdvice},</if>
            <if test="pairNum != null">pair_num = #{pairNum},</if>
            <if test="registrationId != null">registration_id = #{registrationId},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="usageMeans != null">usage_means = #{usageMeans},</if>
            <if test="type != null">type = #{type},</if>
            <if test="createStaffId != null">create_staff_id = #{createStaffId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsHerbalPrescriptionRecordById" parameterType="Long">
        delete from dms_herbal_prescription_record where id = #{id}
    </delete>

    <delete id="deleteDmsHerbalPrescriptionRecordByIds" parameterType="String">
        delete from dms_herbal_prescription_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>