<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsNonDrugItemRecordMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsNonDrugItemRecord" id="DmsNonDrugItemRecordResult">
        <result property="id"    column="id"    />
        <result property="registrationId"    column="registration_id"    />
        <result property="status"    column="status"    />
        <result property="aim"    column="aim"    />
        <result property="demand"    column="demand"    />
        <result property="logStatus"    column="log_status"    />
        <result property="checkResult"    column="check_result"    />
        <result property="resultImgUrlList"    column="result_img_url_list"    />
        <result property="clinicalImpression"    column="clinical_impression"    />
        <result property="clinicalDiagnosis"    column="clinical_diagnosis"    />
        <result property="createTime"    column="create_time"    />
        <result property="excuteStaffId"    column="excute_staff_id"    />
        <result property="logDatetime"    column="log_datetime"    />
        <result property="noDrugId"    column="no_drug_id"    />
        <result property="checkParts"    column="check_parts"    />
        <result property="type"    column="type"    />
        <result property="excuteDeptId"    column="excute_dept_id"    />
        <result property="createStaffId"    column="create_staff_id"    />
        <result property="logStaffId"    column="log_staff_id"    />
        <result property="excuteTime"    column="excute_time"    />
        <result property="amount"    column="amount"    />
    </resultMap>

    <sql id="selectDmsNonDrugItemRecordVo">
        select id, registration_id, status, aim, demand, log_status, check_result, result_img_url_list, clinical_impression, clinical_diagnosis, create_time, excute_staff_id, log_datetime, no_drug_id, check_parts, type, excute_dept_id, create_staff_id, log_staff_id, excute_time, amount from dms_non_drug_item_record
    </sql>

    <select id="selectDmsNonDrugItemRecordList" parameterType="com.ruan.hncc.dms.domain.DmsNonDrugItemRecord" resultMap="DmsNonDrugItemRecordResult">
        <include refid="selectDmsNonDrugItemRecordVo"/>
        <where>  
            <if test="registrationId != null "> and registration_id = #{registrationId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="aim != null  and aim != ''"> and aim = #{aim}</if>
            <if test="demand != null  and demand != ''"> and demand = #{demand}</if>
            <if test="logStatus != null "> and log_status = #{logStatus}</if>
            <if test="checkResult != null  and checkResult != ''"> and check_result = #{checkResult}</if>
            <if test="resultImgUrlList != null  and resultImgUrlList != ''"> and result_img_url_list = #{resultImgUrlList}</if>
            <if test="clinicalImpression != null  and clinicalImpression != ''"> and clinical_impression = #{clinicalImpression}</if>
            <if test="clinicalDiagnosis != null  and clinicalDiagnosis != ''"> and clinical_diagnosis = #{clinicalDiagnosis}</if>
            <if test="excuteStaffId != null "> and excute_staff_id = #{excuteStaffId}</if>
            <if test="logDatetime != null "> and log_datetime = #{logDatetime}</if>
            <if test="noDrugId != null "> and no_drug_id = #{noDrugId}</if>
            <if test="checkParts != null  and checkParts != ''"> and check_parts = #{checkParts}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="excuteDeptId != null "> and excute_dept_id = #{excuteDeptId}</if>
            <if test="createStaffId != null "> and create_staff_id = #{createStaffId}</if>
            <if test="logStaffId != null "> and log_staff_id = #{logStaffId}</if>
            <if test="excuteTime != null "> and excute_time = #{excuteTime}</if>
            <if test="amount != null "> and amount = #{amount}</if>
        </where>
    </select>
    
    <select id="selectDmsNonDrugItemRecordById" parameterType="Long" resultMap="DmsNonDrugItemRecordResult">
        <include refid="selectDmsNonDrugItemRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsNonDrugItemRecord" parameterType="com.ruan.hncc.dms.domain.DmsNonDrugItemRecord" useGeneratedKeys="true" keyProperty="id">
        insert into dms_non_drug_item_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="registrationId != null">registration_id,</if>
            <if test="status != null">status,</if>
            <if test="aim != null">aim,</if>
            <if test="demand != null">demand,</if>
            <if test="logStatus != null">log_status,</if>
            <if test="checkResult != null">check_result,</if>
            <if test="resultImgUrlList != null">result_img_url_list,</if>
            <if test="clinicalImpression != null">clinical_impression,</if>
            <if test="clinicalDiagnosis != null">clinical_diagnosis,</if>
            <if test="createTime != null">create_time,</if>
            <if test="excuteStaffId != null">excute_staff_id,</if>
            <if test="logDatetime != null">log_datetime,</if>
            <if test="noDrugId != null">no_drug_id,</if>
            <if test="checkParts != null">check_parts,</if>
            <if test="type != null">type,</if>
            <if test="excuteDeptId != null">excute_dept_id,</if>
            <if test="createStaffId != null">create_staff_id,</if>
            <if test="logStaffId != null">log_staff_id,</if>
            <if test="excuteTime != null">excute_time,</if>
            <if test="amount != null">amount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="registrationId != null">#{registrationId},</if>
            <if test="status != null">#{status},</if>
            <if test="aim != null">#{aim},</if>
            <if test="demand != null">#{demand},</if>
            <if test="logStatus != null">#{logStatus},</if>
            <if test="checkResult != null">#{checkResult},</if>
            <if test="resultImgUrlList != null">#{resultImgUrlList},</if>
            <if test="clinicalImpression != null">#{clinicalImpression},</if>
            <if test="clinicalDiagnosis != null">#{clinicalDiagnosis},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="excuteStaffId != null">#{excuteStaffId},</if>
            <if test="logDatetime != null">#{logDatetime},</if>
            <if test="noDrugId != null">#{noDrugId},</if>
            <if test="checkParts != null">#{checkParts},</if>
            <if test="type != null">#{type},</if>
            <if test="excuteDeptId != null">#{excuteDeptId},</if>
            <if test="createStaffId != null">#{createStaffId},</if>
            <if test="logStaffId != null">#{logStaffId},</if>
            <if test="excuteTime != null">#{excuteTime},</if>
            <if test="amount != null">#{amount},</if>
         </trim>
    </insert>

    <update id="updateDmsNonDrugItemRecord" parameterType="com.ruan.hncc.dms.domain.DmsNonDrugItemRecord">
        update dms_non_drug_item_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="registrationId != null">registration_id = #{registrationId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="aim != null">aim = #{aim},</if>
            <if test="demand != null">demand = #{demand},</if>
            <if test="logStatus != null">log_status = #{logStatus},</if>
            <if test="checkResult != null">check_result = #{checkResult},</if>
            <if test="resultImgUrlList != null">result_img_url_list = #{resultImgUrlList},</if>
            <if test="clinicalImpression != null">clinical_impression = #{clinicalImpression},</if>
            <if test="clinicalDiagnosis != null">clinical_diagnosis = #{clinicalDiagnosis},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="excuteStaffId != null">excute_staff_id = #{excuteStaffId},</if>
            <if test="logDatetime != null">log_datetime = #{logDatetime},</if>
            <if test="noDrugId != null">no_drug_id = #{noDrugId},</if>
            <if test="checkParts != null">check_parts = #{checkParts},</if>
            <if test="type != null">type = #{type},</if>
            <if test="excuteDeptId != null">excute_dept_id = #{excuteDeptId},</if>
            <if test="createStaffId != null">create_staff_id = #{createStaffId},</if>
            <if test="logStaffId != null">log_staff_id = #{logStaffId},</if>
            <if test="excuteTime != null">excute_time = #{excuteTime},</if>
            <if test="amount != null">amount = #{amount},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsNonDrugItemRecordById" parameterType="Long">
        delete from dms_non_drug_item_record where id = #{id}
    </delete>

    <delete id="deleteDmsNonDrugItemRecordByIds" parameterType="String">
        delete from dms_non_drug_item_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>