<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsNonDrugMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsNonDrug" id="DmsNonDrugResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="format"    column="format"    />
        <result property="price"    column="price"    />
        <result property="expClassId"    column="exp_class_id"    />
        <result property="mnemonicCode"    column="mnemonic_code"    />
        <result property="recordType"    column="record_type"    />
        <result property="createDate"    column="create_date"    />
        <result property="status"    column="status"    />
        <result property="deptId"    column="dept_id"    />
    </resultMap>

    <sql id="selectDmsNonDrugVo">
        select id, code, name, format, price, exp_class_id, mnemonic_code, record_type, create_date, status, dept_id from dms_non_drug
    </sql>

    <select id="selectDmsNonDrugList" parameterType="com.ruan.hncc.dms.domain.DmsNonDrug" resultMap="DmsNonDrugResult">
        <include refid="selectDmsNonDrugVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="format != null  and format != ''"> and format = #{format}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="expClassId != null "> and exp_class_id = #{expClassId}</if>
            <if test="mnemonicCode != null  and mnemonicCode != ''"> and mnemonic_code = #{mnemonicCode}</if>
            <if test="recordType != null "> and record_type = #{recordType}</if>
            <if test="createDate != null "> and create_date = #{createDate}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectDmsNonDrugById" parameterType="Long" resultMap="DmsNonDrugResult">
        <include refid="selectDmsNonDrugVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsNonDrug" parameterType="com.ruan.hncc.dms.domain.DmsNonDrug" useGeneratedKeys="true" keyProperty="id">
        insert into dms_non_drug
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="format != null">format,</if>
            <if test="price != null">price,</if>
            <if test="expClassId != null">exp_class_id,</if>
            <if test="mnemonicCode != null">mnemonic_code,</if>
            <if test="recordType != null">record_type,</if>
            <if test="createDate != null">create_date,</if>
            <if test="status != null">status,</if>
            <if test="deptId != null">dept_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="format != null">#{format},</if>
            <if test="price != null">#{price},</if>
            <if test="expClassId != null">#{expClassId},</if>
            <if test="mnemonicCode != null">#{mnemonicCode},</if>
            <if test="recordType != null">#{recordType},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="status != null">#{status},</if>
            <if test="deptId != null">#{deptId},</if>
         </trim>
    </insert>

    <update id="updateDmsNonDrug" parameterType="com.ruan.hncc.dms.domain.DmsNonDrug">
        update dms_non_drug
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="format != null">format = #{format},</if>
            <if test="price != null">price = #{price},</if>
            <if test="expClassId != null">exp_class_id = #{expClassId},</if>
            <if test="mnemonicCode != null">mnemonic_code = #{mnemonicCode},</if>
            <if test="recordType != null">record_type = #{recordType},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsNonDrugById" parameterType="Long">
        delete from dms_non_drug where id = #{id}
    </delete>

    <delete id="deleteDmsNonDrugByIds" parameterType="String">
        delete from dms_non_drug where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>