<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruan.hncc.dms.mapper.DmsRegistrationMapper">
    
    <resultMap type="com.ruan.hncc.dms.domain.DmsRegistration" id="DmsRegistrationResult">
        <result property="id"    column="id"    />
        <result property="patientId"    column="patient_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="endAttendance"    column="end_attendance"    />
        <result property="status"    column="status"    />
        <result property="skdId"    column="skd_id"    />
        <result property="needBook"    column="need_book"    />
        <result property="bindStatus"    column="bind_status"    />
        <result property="deptId"    column="dept_id"    />
        <result property="attendanceDate"    column="attendance_date"    />
        <result property="patientAgeStr"    column="patient_age_str"    />
    </resultMap>

    <sql id="selectDmsRegistrationVo">
        select id, patient_id, create_time, end_attendance, status, skd_id, need_book, bind_status, dept_id, attendance_date, patient_age_str from dms_registration
    </sql>

    <select id="selectDmsRegistrationList" parameterType="com.ruan.hncc.dms.domain.DmsRegistration" resultMap="DmsRegistrationResult">
        <include refid="selectDmsRegistrationVo"/>
        <where>  
            <if test="patientId != null "> and patient_id = #{patientId}</if>
            <if test="endAttendance != null "> and end_attendance = #{endAttendance}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="skdId != null "> and skd_id = #{skdId}</if>
            <if test="needBook != null "> and need_book = #{needBook}</if>
            <if test="bindStatus != null "> and bind_status = #{bindStatus}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
            <if test="attendanceDate != null "> and attendance_date = #{attendanceDate}</if>
            <if test="patientAgeStr != null  and patientAgeStr != ''"> and patient_age_str = #{patientAgeStr}</if>
        </where>
    </select>
    
    <select id="selectDmsRegistrationById" parameterType="Long" resultMap="DmsRegistrationResult">
        <include refid="selectDmsRegistrationVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDmsRegistration" parameterType="com.ruan.hncc.dms.domain.DmsRegistration" useGeneratedKeys="true" keyProperty="id">
        insert into dms_registration
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patientId != null">patient_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="endAttendance != null">end_attendance,</if>
            <if test="status != null">status,</if>
            <if test="skdId != null">skd_id,</if>
            <if test="needBook != null">need_book,</if>
            <if test="bindStatus != null">bind_status,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="attendanceDate != null">attendance_date,</if>
            <if test="patientAgeStr != null">patient_age_str,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patientId != null">#{patientId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="endAttendance != null">#{endAttendance},</if>
            <if test="status != null">#{status},</if>
            <if test="skdId != null">#{skdId},</if>
            <if test="needBook != null">#{needBook},</if>
            <if test="bindStatus != null">#{bindStatus},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="attendanceDate != null">#{attendanceDate},</if>
            <if test="patientAgeStr != null">#{patientAgeStr},</if>
         </trim>
    </insert>

    <update id="updateDmsRegistration" parameterType="com.ruan.hncc.dms.domain.DmsRegistration">
        update dms_registration
        <trim prefix="SET" suffixOverrides=",">
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="endAttendance != null">end_attendance = #{endAttendance},</if>
            <if test="status != null">status = #{status},</if>
            <if test="skdId != null">skd_id = #{skdId},</if>
            <if test="needBook != null">need_book = #{needBook},</if>
            <if test="bindStatus != null">bind_status = #{bindStatus},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="attendanceDate != null">attendance_date = #{attendanceDate},</if>
            <if test="patientAgeStr != null">patient_age_str = #{patientAgeStr},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDmsRegistrationById" parameterType="Long">
        delete from dms_registration where id = #{id}
    </delete>

    <delete id="deleteDmsRegistrationByIds" parameterType="String">
        delete from dms_registration where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>